.founder{
    display: flex;
    background-color: white;
    padding: 5rem 5rem;
    margin-top: 1.5rem;
}
.founder .block{
  gap: 3rem;
    display: flex;
}
.founder .founder-cont{
    background-color: rgb(194, 191, 191);
   width: 50%;
    padding: 3rem 2rem;
   
    line-height: 2rem;
}
.founder .founder-cont img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;

}
.founder .founder-cont h2{
    font-size: 3rem;
    line-height: 2.5rem;
}
.founder .block .founder-cont #tx2{
    font-size: 0.9rem;
}/*end*/
/*Vission section*/
 .cont2{
    /**/margin-top: 2rem;
    box-shadow: 10px 8px 15px 10px rgb(184, 0, 190);
    background-color: white;
    padding: 1rem 8rem;
    align-items: center;
    margin-left:10rem ;
    margin-right:10rem ;
    line-height: 1.5rem;
}
 .cont2 h1{
    font-size: 3rem;
    padding: 2rem;
    line-height: 3rem;
   
}
.cont2 p .co1{
    font-size: 5rem;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.cont2 p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.7rem;
    
}


/*IMAGE slider*/
.main-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.main-hero .hero2 .imgShow img {
    width: 100%;
    height: 35rem;
   /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    
}

/* Caption text */
.text {
    color:yellow;
    font-size: 6rem;
    font-weight: bolder;
    padding: 2rem 2rem;
    position: absolute;
    top: 5rem;
    width: 100%;
    text-align: center;
    text-shadow: 4px 3px 6px cyan;
}


.txt1 {
    color: cyan;
    font-size: 4rem;
    padding: 2rem 2rem;
    position: absolute;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    text-align: center;
    text-shadow: 4px 3px 6px yellow;
}

/* Number text */
.num-txt {
    color: #0a0000;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    position: absolute;
    top: 0;
}

/* The dots indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #464444;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}/*end*/

/*Connect with us section*/
.connect{
    background-color: white;
    padding: 2rem 6rem;
    
    
}
.connect h2{
    font-size: 3rem;
}
.connect h5{
    font-size: 2rem;
}
/*end*/
/*Form style*/
.all-form form h1{
    font-size: 2.5rem;
}

input[type=text], select, textarea {
    width: 55%;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    resize: vertical;
}
label {
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color: #006d45;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;
  } 
  input[type=submit]:hover {
    background-color: #019c09;
  }
  
  
  .col-left {
    float: left;
    width: 20%;
    margin-top: 0.5rem;
  }
  
  .col-right {
    float: left;
    width: 75%;
    margin-top: 0.5rem;
  }
  .line::after {
    content: "";
    display: table;
    clear: both;
  }
  .all-form{
    background-color: aliceblue;
    padding: 4rem 8rem;
    margin-top: 2.5rem;
    
    
  }
  