/*Breadscrumb*/
.Breadscrumb{
    padding: 3rem;
    background-color: white;
    
}

.Breadscrumb .breadscrumb-nav {
    background-color: rgb(209, 233, 243);
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 1.1rem;
    padding: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.Breadscrumb .breadscrumb-nav li+li:before{
    content: "/\00a0";
    padding: 0.9rem;
}
.Breadscrumb .breadscrumb-nav li a{
    text-decoration: none;
}
.Breadscrumb .breadscrumb-nav li a:hover{
    color: rgb(177, 0, 0);
}


/*end*/

/*Government university section*/
.govern-head{
    background-color: white;
    padding: 3rem 5rem;
}
.govern-head h1{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}
.govern-head p{
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: aliceblue;
    padding: 4rem;
}
/*end*/
/*Details for government universities*/
.gov-m-cont{
    background-color: white;
    padding: 2rem 3rem;
    display: inline-block;
}
.gov-m-cont .m-cont:hover{
   /* transform: perspective(500px) translateZ(10px);*/
    scale: 1.06;
   
}
.gov-m-cont .m-cont .global {
    color: rgb(77, 43, 0);
    font-size: 0.98rem;
}
.gov-m-cont .m-cont{
    border: 1px solid green;
    background-color: aliceblue;
    padding: 2rem 2rem;
    margin: 3rem 8rem 3rem 8rem;
    box-shadow: 0px 8px 8px 0px rgb(0, 11, 73);
}
.gov-m-cont .m-cont a:hover{
    color: red;
    
}
.gov-m-cont .m-cont .star {
    float: right;
   
    /*margin-bottom: 2rem;*/
}
.gov-m-cont .m-cont .star .checked{
    color: orange;
}
