/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

body {
    margin: 0;
    padding: 1rem;
    /*background-color: rgb(0, 0, 54);*/
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 63);
}

/*HEADER SECTION STYLE start*/
/*header section basic layout*/
header {
    margin: auto;
    padding: 0.5rem;
    /*background-color: white;*/
}

.head_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*end*/
/*logo and website name*/
header .head_section .logo {
    gap: 1rem;
    display: flex;
    align-items: center;
}

/*header .head_section*/
.logo h1 {
    color: white;
    font-size: 1.8rem;
}

/*header .head_section .logo*/
img {
    width: 6.5rem;
    height: 6.5rem;
}

/*header .head_section .logo*/
.t1 {
    color: rgb(0, 255, 255);
    font-weight: bolder;
    font-size: 2.2rem;
}

/*header .head_section .logo*/
.t2 {
    color: cyan;
    font-weight: bolder;
    font-size: 2.2rem;
}

/*header .head_section .logo*/
.t3 {
    color: cyan;
    font-weight: bolder;
    font-size: 2.2rem;
}

/*end*/
/*navigation bar*/
header .head_section nav ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
   
}

header li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.5rem 0.3rem ;
    text-decoration: none;
}

header li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(94, 82, 102);

}

header li.dropdown {
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e3e4f8;
    min-width: 20rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgb(172, 169, 169);
    z-index: 1;
}

header .dropdown-content a {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .dropdown-content a:hover {
    background-color: #cbcde9;
}

header .dropdown:hover .dropdown-content {
    display: block;
}

/*header .head_section nav ul li a,. {
    text-decoration: none;
    color: whitesmoke;
}
header .head_section nav ul li a:hover{
    /*color: orangered;
    background-color: white;
    padding: 0.5rem 0.5rem;
    color: black;
}
/*DROPDOWN START
header .head_section nav ul li a:hover .dropdown:hover .dropbtn{
    background-color: white;
    padding: 0.5rem 0.5rem;
    
    
}
header .head_section nav ul li .dropdown {
    display: inline-block;
    
  }
 
  header .head_section nav ul li .dropdown .dropdown-content {
    display: none;
   
  
    background-color: aliceblue;
    /*min-width: 160px;
    box-shadow: 0px 2px 2px 0px rgb(248, 248, 248);
   /* z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 0.7rem 0.4rem;
   
    display: block;
    text-align: left;
    font-size: 1rem;
}
  
.dropdown-content a:hover {
    background-color: rgb(168, 168, 199);
    
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*end*/
/*button style*/
header .head_section .buttons a {
    padding: .7rem;
    text-decoration: none;
    border-width: 0.312rem;
}

header .head_section .buttons .login_btn {
    background-color: rgb(0, 0, 255);
    color: white;
    font-weight: bolder;
    display: inline-block;




}

header .head_section .buttons .reg_btn {
    background-color: rgb(189, 2, 2);
    color: white;
    font-weight: bolder;
    display: inline-block;



}

header .head_section .buttons .reg_btn:hover {
    background-color: rgb(97, 12, 1);

}

header .head_section .buttons .login_btn:hover {
    background-color: rgb(1, 1, 92);

}

/*end*/
/*END HEADER SECTION*/

/*HERO SECTION - Cover image and sub headings*/
.hero {
    padding: 8rem 1rem;
    background: url("home_img/hero_img.png") no-repeat center center/cover;
}

.hero {
    text-align: center;
}

.hero h2 {
    font-size: 3.9rem;
    color: yellow;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(252, 5, 5);
}

.hero p {
    color: white;
    font-size: 1.7rem;
    text-shadow: 2px 2px 4px black;
}

/*hero section button*/
.hero #para1 {
    font-style: italic;
    color: white;
    font-size: 1.4rem;
}

.hero .explore-btn {
    background-color: rgb(116, 5, 5);
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    color: white;
}

.hero .explore-btn:hover {
    background-color: rgb(255, 1, 1);
}

/*end*/
/*END*/
/*MAIN SEARCH BAR*/
.search_bar {
    text-align: center;
    padding: 1rem;


}



.search_bar input[type="text"] {
    padding: .8rem;
    font-size: 0.8rem;
    width: 50%;
}

.search_bar button {
    padding: .7rem 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(24, 23, 23);
    color: white;
}

.search_bar button:hover {
    background-color: rgb(87, 86, 86);
    color: black;
}

/*end*/
/*END*/
/*BODY CONTENT SECTION 1-about us,video container*/
.body_cont1 {
    display: flex;
    padding: 1.5rem 2rem;
    background-color: white;
    gap: 5rem;
    line-height: 2rem;
}

.body_cont1 .text_cont h3 {
    font-size: 2rem;
}

.body_cont1 .text_cont .learn_btn {
    border-radius: 3.4rem;
    padding: .7rem;
    text-decoration: none;
    background-color: rgb(0, 0, 121);
    color: white;
    margin-left: 2.5rem;
}
.body_cont1 .text_cont .learn_btn:hover{
    background-color: rgb(51, 61, 204)
    
}

.body_cont1 .video_cont {
    padding: 4rem 3rem;
}

.body_cont1 .video_cont video {
    height: auto;
}

/*END*/
/*START statement show */
.statement {
    background-color: white;
    padding: 3rem;
    line-height: 2rem;
    display: inline-block;
}

.statement .cont {
    display: flex;
    background-color: rgb(230, 226, 226);
    gap: 4rem;
    padding: 2rem;
}

.statement .cont .item {
    background-color: rgb(218, 214, 214);
    padding: 2rem;
}

.statement .cont .item h2 {
    text-align: center;
}

/*END*/
/*START members show paert*/
.members {
    background-color: white;
    padding: 3rem;

}

.members .cont-member {
    display: flex;
    background-color: rgb(230, 226, 226);
    gap: 2rem;
    padding: 1rem 4rem;
    line-height: 1rem;
    justify-content: space-between;
}

.members .cont-member h3 {
    font-size: 3rem;
}

.members .cont-member p {
    font-size: 1.3rem;
}

/*END*/

/*MAIN BODY CONTENT 2nd SECTION-explore educational paths with gid layout*/
.body_cont2 {
    background-color: white;
    padding: 2.5rem 2rem;
    display: block;
}

.body_cont2 h3 {
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}

.body_cont2 .box_cont {
    display: flex;
    gap: 2rem;

}

.body_cont2 .box_cont .cont1 {
    text-align: center;
    padding: 1.5rem 1rem;
    background-color: rgb(230, 226, 226);
    line-height: 1.56rem;

}

.body_cont2 .box_cont .cont1:hover {
    /*background-color: rgb(94, 94, 179);*/
    /*background-image: linear-gradient(to bottom right, rgb(28, 31, 78), rgb(32, 17, 247));*/
    color: white;
    background-image: linear-gradient(to bottom right, purple, rgb(29, 28, 28));
    font-weight: bold;
    transform: perspective(200px) translateZ(10px);
    font-family: 'Roboto', sans-serif;
}

.body_cont2 .box_cont .cont1 h4 {
    font-size: 1.2rem;
}

.body_cont2 .box_cont .cont1 .learn_btn2 {
    border-radius: 3.4rem;
    padding: .5rem;
    text-decoration: none;
    background-color: rgb(1, 1, 85);
    color: white;
    font-size: 0.8rem;


}

.body_cont2 .box_cont .cont1 .learn_btn2:hover {
    background-image: linear-gradient(to bottom right, rgb(28, 31, 78), rgb(32, 17, 247));
}

/*END*/
/*START Body content 3rd section*/
.body_cont3 {
    background-color: rgb(230, 226, 226);
    padding: 2rem;
    overflow: hidden;
    position: relative;
}

.body_cont3 h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.body_cont3 .image_cont {
    display: flex;
    animation: scroll 30s linear infinite;
    width: auto;
    scroll-behavior: smooth;
}

.body_cont3 .image_cont img {
    width: 10rem;
    height: auto;
    margin: 0 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*END*/
/*Sart memory style*/
.memory {
    padding: 1.5rem 2rem;
    display: inline-block;
    background-color: white;
}

.memory h3 {
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}

.memory .memory_cont {
    display: flex;
    gap: 2rem;
}

.memory .memory_cont .cont1 {
    text-align: center;
    padding: 1rem;
    display: flexbox;
    background-color: rgb(230, 226, 226);
    line-height: 1.5rem;
}

.memory .memory_cont .cont1 .txt3 {
    font-weight: bold;
    font-style: italic;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

/*END*/
/*footer*/
footer {
    padding: 3rem 2rem;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer .main_cont {

    color: whitesmoke;
    display: inline-block;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    line-height: 1.5rem;
    padding: 3rem 2rem;
}

footer .main_cont .main_col .txt8 {
    font-size: 0.9rem;
}

footer .main_cont .main_col h3 {
    color: darkturquoise;
}

footer .main_cont .main_col ul {
    list-style-type: none;
    text-decoration: none;

}

footer .main_cont .main_col ul li {
    margin-left: -1.4rem;
    font-size: 0.9rem;
}

footer .main_cont .main_col ul li a {
    text-decoration: none;
    color: white;
}

footer .main_cont .main_col ul li a:hover {
    color: orange;
}

footer .last-cont {
    color: white;
    text-align: center;
    font-size: 0.86rem;
}

footer .last-cont a {
    color: white;

}

footer .main_col #e-mail {
    padding: 0.5rem;
}

footer .main_col button {
    padding: 0.5rem;
    background-color: blue;
}