/*START hero section*/
.banner{
    padding: 8rem 1rem;
    background: url("uni.img/hero2.jpg") no-repeat center center/cover ;
}
.banner h3{
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: rgb(255, 50, 187);
    /*mix-blend-mode: multiply;*/
    /*mix-blend-mode: luminosity;*/
    mix-blend-mode: hard-light;
}
.banner p{
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(226, 2, 247);
    color: white;
    font-weight: bold;
}
/*end*/

/*University intro content*/
.uni-intro{
    background-color: white;
    padding: 5rem 5rem 1rem 5rem;
}
.uni-intro .intro-heading{
    font-size: 3rem;
}
.uni-intro p .co2{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(2, 2, 63);
}
.uni-intro p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2rem;
}

/*START IMAGE galary*/
.img-show{
    padding: 2rem 3rem;
    background-color: white;
    overflow-x: scroll ;
    scroll-behavior: smooth;
    position: relative;
}

.img-show .img-topic{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}
.img-show .img-galary{
    display: flex;
    animation: scroll 34s linear infinite;
    scroll-behavior: smooth;
    width: auto;
    gap: 5rem;
}
.img-show .img-galary img{
    width: 40rem;
    height: auto;
    
}
.img-show .img-galary img:hover{
    transform: perspective(200px) translateZ(20px);
}


/*END*/
/*START body content1*/
.cont2{
    background-color: white;
    padding: 2rem 3rem;
}
.cont2 .block{
    display: flex;
    gap: 3rem;
    
  
}

.cont2 .block .cont{
    background-color: rgb(230, 226, 226);
    padding: 2rem 3rem;
    width: 50%;
    line-height: 2rem;
    
}
.cont2 .block .cont .btn-1{
    border-radius: 3.4rem;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: rgb(1, 1, 58);
    color: white;
    margin-bottom: 1rem;
}
.cont2 h1{
    color: black;
    font-size: 2.5rem;
}
.cont2 h3{
    font-size: 1.5rem;
}
.cont2 .block .cont h2{
    font-size: 2rem;
}
.cont2 .block .cont h5{
    font-size: 1.5rem;
}

.cont2 .block .cont:hover{
   background-color: rgb(110, 110, 110);
    color: white;
    /*transform: perspective(100px) translateZ(-10px);*/
    scale: 0.95;
    
    
}
.cont2 .block .cont .btn-1:hover{
    background-color: white;
    color: black;
}








