/*START hero section*/
.banner{
    padding: 8rem 1rem;
    background: url("uni.img/hero2.jpg") no-repeat center center/cover ;
}
.banner h3{
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: rgb(255, 0, 170);
    mix-blend-mode: multiply;
}
.banner p{
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(122, 0, 133);
    color: rgb(41, 8, 73);
    font-weight: bold;
}
/*end*/
/*START IMAGE galary*/
.img-show{
    padding: 2rem 3rem;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.img-show .img-topic{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}
.img-show .img-galary{
    display: flex;
    animation: scroll 10s linear infinite;
    width: auto;
    gap: 5rem;
}
.img-show .img-galary img{
    width: 40rem;
    height: auto;
    
}
.img-show .img-galary img:hover{
    transform: perspective(200px) translateZ(20px);
}


/*END*/
/*START body content1*/
.cont2{
    background-color: white;
    padding: 2rem 3rem;
}
.cont2 .block{
    display: flex;
    gap: 3rem;
    
  
}

.cont2 .block .cont{
    background-color: rgb(230, 226, 226);
    padding: 2rem 3rem;
    width: 50%;
    line-height: 2rem;
    
}
.cont2 .block .cont .btn-1{
    border-radius: 3.4rem;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: rgb(1, 1, 58);
    color: white;
    margin-bottom: 1rem;
}
.cont2 h1{
    color: black;
    font-size: 2.5rem;
}
.cont2 h3{
    font-size: 1.5rem;
}
.cont2 .block .cont h2{
    font-size: 2rem;
}
.cont2 .block .cont h5{
    font-size: 1.5rem;
}

.cont2 .block .cont:hover{
    background-color: blue;
    color: white;
    transform: perspective(100px) translateZ(-10px);
    
}
.cont2 .block .cont .btn-1:hover{
    background-color: white;
    color: black;
}








